Choose

<form method="post" action="/toppings">
<input type="checkbox" name = "choices[]" value = "ham"> ham
<input type="checkbox" name = "choices[]" value = "pep"> pep
<input type="checkbox" name = "choices[]" value = "steak"> steak
<input type="checkbox" name = "choices[]" value = "american"> american
<input type="checkbox" name = "choices[]" value = "swiss"> swiss
<input type="submit">
</form>

